**Dictionary

key:value pairs

In [1]:
d1={1:"aryan","2":"Indore","c":"Trainer",1.5:[1,2,3,4],"2.6":(11,22,33)}          #unorderd  #allows hetrogenious values
d1

{1: 'aryan',
 '2': 'Indore',
 'c': 'Trainer',
 1.5: [1, 2, 3, 4],
 '2.6': (11, 22, 33)}

In [2]:
for i in d1:
    print(i)

1
2
c
1.5
2.6

In [3]:
emp={"eid":[101,102,103,104,105],
     "ename":["aryan","aditya","sajal","madhav","bhupendra"],
     "salary":[1000,1200,1400,1500,1300],
     "profile":["developer","tester","HR","tester","developer"],"city":["Indore","Ujjain","Khandwa","Indore","Bhopal"]}
emp

{'eid': [101, 102, 103, 104, 105],
 'ename': ['aryan', 'aditya', 'sajal', 'madhav', 'bhupendra'],
 'salary': [1000, 1200, 1400, 1500, 1300],
 'profile': ['developer', 'tester', 'HR', 'tester', 'developer'],
 'city': ['Indore', 'Ujjain', 'Khandwa', 'Indore', 'Bhopal']}

In [4]:
for i  in emp:
    print(i)

eid
ename
salary
profile
city

In [5]:
type(emp["eid"])

list

In [6]:
emp["gender"]

KeyError: 'gender'

In [7]:
emp["salary"]

[1000, 1200, 1400, 1500, 1300]

In [8]:
emp["gender"]=["male","male","male","male","male"]

In [9]:
emp

{'eid': [101, 102, 103, 104, 105],
 'ename': ['aryan', 'aditya', 'sajal', 'madhav', 'bhupendra'],
 'salary': [1000, 1200, 1400, 1500, 1300],
 'profile': ['developer', 'tester', 'HR', 'tester', 'developer'],
 'city': ['Indore', 'Ujjain', 'Khandwa', 'Indore', 'Bhopal'],
 'gender': ['male', 'male', 'male', 'male', 'male']}

In [10]:
emp["salary"]=[800,900,1200,1300,1250]

In [11]:
emp           #key salary data replaced because it is already exisitng

{'eid': [101, 102, 103, 104, 105],
 'ename': ['aryan', 'aditya', 'sajal', 'madhav', 'bhupendra'],
 'salary': [800, 900, 1200, 1300, 1250],
 'profile': ['developer', 'tester', 'HR', 'tester', 'developer'],
 'city': ['Indore', 'Ujjain', 'Khandwa', 'Indore', 'Bhopal'],
 'gender': ['male', 'male', 'male', 'male', 'male']}

In [12]:
import pandas as pd

In [14]:
df=pd.DataFrame(emp)
df

   eid      ename  salary    profile     city gender
0  101      aryan     800  developer   Indore   male
1  102     aditya     900     tester   Ujjain   male
2  103      sajal    1200         HR  Khandwa   male
3  104     madhav    1300     tester   Indore   male
4  105  bhupendra    1250  developer   Bhopal   male

In [ ]:
emp.get("gender")

In [ ]:
emp.items()

In [ ]:
for i in emp.items():
    print(i)

In [ ]:
for i in emp.items():
    key,value=i
    print(key," : ",value)

In [ ]:
emp.popitem()

In [ ]:
emp["gender"]=["male","male","male","male","male"]

In [ ]:
emp

In [ ]:
bonus={"eid":[101,102,103,104,105],"bonus":[500,230,200,300,100]}
bonus

In [ ]:
emp.update(bonus)
emp

In [ ]:
set(emp["profile"])

In [ ]:
set(emp["city"])



#NESTED Dictionary

In [14]:
student={"sname":["aryan","aditya"],
         "course":{"python":"60 days","java":"60 days"}}

In [15]:
student["course"]["python"]

'60 days'

In [16]:
emp

{'eid': [101, 102, 103, 104, 105],
 'ename': ['aryan', 'aditya', 'sajal', 'madhav', 'bhupendra'],
 'salary': [800, 900, 1200, 1300, 1250],
 'profile': ['developer', 'tester', 'HR', 'tester', 'developer'],
 'city': ['Indore', 'Ujjain', 'Khandwa', 'Indore', 'Bhopal'],
 'gender': ['male', 'male', 'male', 'male', 'male']}

In [17]:
sum(emp["salary"])/len(emp["salary"])

1090.0

In [16]:
marks=[]
for i in range(5):
    marks.append(int(input("enter marks")))
marks

enter marks25
enter marks36
enter marks96
enter marks85
enter marks75

[25, 36, 96, 85, 75]

In [46]:
emp.update(marks)
emp

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [33]:
dict1={}

In [19]:
type(dict1)

dict

In [20]:
dict1["1"]=50

In [32]:
dict1

NameError: name 'dict1' is not defined

In [22]:
dict1["2"]=50

In [31]:
del dict1

In [60]:
dict1={}
l1=[1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,'adi', 'pika','adi']
l2=set(l1.copy())

In [61]:
for i in l2:
    dict1[(i)]=l1.count(i)
dict1

{1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 'adi': 2, 'pika': 1}

In [69]:
dict1.values()

dict_values([3, 3, 3, 3, 3, 3, 2, 1])

m

In [70]:
dict1

{1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 'adi': 2, 'pika': 1}

In [71]:
m = dict1[2]

In [72]:
m

3

In [5]:
3Krishna 67 68 69

Arjun 70 98 63
Malika 52 56 60
Malika



student_marks = {}
for i in range(2):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
student_marks

adi 1 2 3
oika 45 6 7

{'adi': [1.0, 2.0, 3.0], 'oika': [45.0, 6.0, 7.0]}

In [6]:
name, *line = input().split()

aj 25 25 25

In [7]:
name

'aj'

In [8]:
line

['25', '25', '25']

In [13]:
scores = list(map(int,line))

In [14]:
scores

[25, 25, 25]

In [1]:
a=25
print('%.2f'%a)

25.00

In [2]:
a

25

In [27]:
l=[2,5,6,9,8,714,4,5,6,57,5,8]
sorted(l)

[2, 4, 5, 5, 5, 6, 6, 8, 8, 9, 57, 714]

In [77]:
 marksheet = [[input(), float(input())] for i in range(int(input()))]

4
1
1
2
2
3
3
4
4

In [82]:
marksheet

[['1', 2.0], ['4', 5.0]]

In [83]:
second_lowest = sorted(list(set([marks for name, marks in marksheet])))[1]

In [84]:
second_lowest

5.0

In [85]:
print('\n'.join([a for a,b in sorted(marksheet) if b == second_lowest ]))

4

In [81]:
marksheet = [[input(), float(input())] for i in range(int(input()))]
  
second_lowest = sorted(list(set([marks for name, marks in marksheet])))[1]
print('\n'.join([a for a,b in sorted(marksheet) if b == second_lowest]))

2
1
2
4
5
4