There are two types of functions:-

1) Built-in functions
   ex- len, max, min, sum
   
2) User defined functions

There are two components for defining function:-
using word "def" to define the function

In [6]:
def greet(x):
    print("Hello",x)

In [3]:
greet

In [4]:
greet()

Hello

In [7]:
name=input("Enter your name")
greet(name)

Enter your name aryan

Hello aryan

In [13]:
def facto(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)            #or return(fact)

In [14]:
facto(5)

120

In [15]:
def price_cal(a):
    total_price=0
    for i in range(a):
        price=int(input("enter price: "))
        total_price+=price
    return total_price

In [16]:
NoI=int(input("Enter the number of items purchased by you: "))
price_cal(NoI)

Enter the number of items purchased by you:  4
enter price:  34
enter price:  23
enter price:  55
enter price:  67

179

In [17]:
def discount(d):
    if(d>=300):
        d=d-d*0.2
    else:
        d=d-d*0.1
    return d

In [18]:
discount(200)

180.0

In [21]:
def tax(n):
    n=n+n*0.18
    return n

In [22]:
tax(100)

118.0

In [24]:
NoI=int(input("Enter number of items purchased by you: "))
tp=price_cal(NoI)
dp=discount(tp)
print("Your Total price:",tp)
print("your discounted amount:",dp)
print("your net payable amount:",tax(dp))
print("your total saving is:",tp-dp)

Enter number of items purchased by you:  4
enter price:  100
enter price:  200
enter price:  300
enter price:  50

Your Total price: 650
your discounted amount: 520.0
your net payable amount: 613.6
your total saving is: 130.0

In [25]:
print("your net payable amount:",tax(discount(price_cal(int(input("enter number of items purchased by you"))))))

enter number of items purchased by you 4
enter price:  200
enter price:  100
enter price:  300
enter price:  50

your net payable amount: 613.6

In [8]:
def fun1():
    return "Hello"
    return "bye"

In [9]:
fun1()

'Hello'

In [10]:
len([11,12,23,22,24,21])

6

In [11]:
def length(x):                  #making a function for calculating length of a list/set/tuple
    c=0
    for i in x:
        c=c+1         #or c+=1
    return c
    print(x)        #print will not show because return has been taken and print is written after "return"

In [12]:
length("aryan")

5

In [13]:
length([1,2,3,4,5])

5

In [15]:
length((11,12,13,14))

4

In [28]:
def search(x,y):
    '''this function will return the index od item in iterable'''
    c=0
    loc=-1
    for i in x:
        if(i==y):
            loc=c
            break
        c+=1
    return loc

In [29]:
search([11,23,22,34,45,44],45)

4

In [32]:
def search2(x,y):
    c=0
    loc=[]
    s=0
    for i in x:
        if(i==y):
            loc.append(c)
            s=1
        c+=1
    if(s==0):
        return "Not found"
    else:
        return loc

In [34]:
search2([1,2,34,5,67,8],34)

[2]

In [37]:
def search1(x):
    '''this function will return the index of entered item in the iterable x'''
    print(x)
    y=int(input("enter value to search"))
    c=0
    loc=-1
    for i in x:
        if(i==y):
            loc=c
            break
        c+=1
    return loc

In [39]:
search1([12,21,23,24,20])

[12, 21, 23, 24, 20]

enter value to search 20

4

In [40]:
search1([12,11,23,20,24])

[12, 11, 23, 20, 24]

enter value to search 26

-1

Q. 
1) factorial
2) number negative or positive
3) number is even or odd
4) number is prime or not
5) number palindrom or not
6) number is armstrong or not
7) generate the n prime numbers
8) generate n even numbers
9) generate n odd numbers
10) find the HCF between two numbers
11) implement sum function
12) implement max function
13) implement min function
14) implement power function 
15) find the square root of any number
16) find that the entered number is a sqaure of any number or not
17) find that the entered number is a cube of any number or not
18) extract the all numbers from list those are sqaure of any number
19) extract the all numbers from list those are cube of any number
20) write the function to sort the list--bubele sort
21) if number of start is entered through by key board create the function to print the triangle from the given start
22) create the function to findout the nTh element of AP series  (use list to store the values)
23) create the function to findout the nTh element of the given GP series
24) create the function to convert the string from upper to lower
25) create the function to convert the string from lower to upper
26) create the function to encrypt the string by given key.
example: input: abcd
         input: key=2
         output: cfeg
27) create the function to find out the total number of vowel, consonant, space and digit in string
28) create the function to reverse the number
29) create the function to reverse the string
30) create the function for nelson number
31) create the function to check whether the number is perfect or not
**32) WAP to rotate the list by given position
     example: given list=[1,2,3,4,5]
     rotate by 3
     [3,4,5,1,2]
33) WAP of 2-sum problem and 3-sum problem
    example: 
    1,0 
    -1,2
    -2,
34) stock market
    price of 6 days: [100,105,90,180,120]-- find the purchasing rate and selling rate also suggest that it should be buy pack       or buy sell and show the profit
35) temperature of a city of 7 days of 4 different time i.e morning, afternoon, evening and night -- find out which day city       has lowest teperature and which day has highest temperature