In [6]:
s={
    "s1":
    {"roll":101,
     "name":'adi',
     'address':'indore'
    },
    "s2":
    {"roll":102,
     "name":'ajay',
     'address':'ujjain'
    }
}

In [12]:
for i,j in s.items():
    print(i)
    for k,v in j.items() :
        print(k,":",v)

s1
roll : 101
name : adi
address : indore
s2
roll : 102
name : ajay
address : ujjain

In [22]:
m=open('assign.txt',"a")
for i,j in s.items():
    m.write(i)
    m.write("\n")
    for k,v in j.items():
        k=str(k)
        v=str(v)
        a=k+" "+v
        m.write(a)
        m.write("\n")

In [23]:
l=[2,8,3,9,4,14,15,16,17]
a=[]
for i in l:
    if(i**2 in l):
        a.append(i)
a

[2, 3, 4]

In [120]:
t=[10,10,10,20,30,30,30,10,10,20,50,50]
s=[]
for i in range(len(t)-1):
    if (t[i]==t[i+1]):
            if(t[i-1]==t[i]):
                continue
            else:
                s.append(t[i])
            
s

[10, 30, 10, 50]

In [93]:
len(t)

10

In [ ]:
m=[1,2,3,4,5,6,7,8,9]
output:- 8

In [98]:
l=0
for x in range (1, 101):
    count = 0
    for i in range(2, (x//2 + 1)):
        if(x % i == 0):
            count = count + 1
            break

    if (count == 0 and x != 1):
        l=l+x
print("the sum of prime no to 100 : ",l)

the sum of prime no to 100 :  1060

In [112]:
n=int(input())
x=int(input())
a=0
s=0
for i in range(1,n+1,+2):
    f=1
    for j in range(1,i+1):
        f=f*j
    a=a+1
    if a%2==0:
        s-=(x**i)/f
    else:
        s+=(x**i)/f
print("the sum of n no. : ",s)

3
3
the sum of n no. :  -1.5

In [29]:
print("           Welcome Aditya Super Market             ")
print("\n              Har maal 100 rupee\n")
m={}
n=int(input("No of items want to purchase : "))
for i in range(1,n+1):
    print("item no : ",i)
    ite=input("Item name : ")
    qty=int(input("No of Quantity : "))
    m.update({ite:qty})

print("\nitem\tqty\ttotal\tdiscount%\tdis-amnt\tnetamount ")
for x,qty in m.items():
    amt=qty*100
    if 1500>amt>=1000:
        d="10%"kfgkj
        dis=(amt*.10)
        tamt=amt-dis
    elif 2000>amt>=1500:
        d="15%"
        dis=(amt*0.15)
        tamt=amt-dis
    elif amt>=2000:
        d="20%"
        dis=(amt*0.20)
        tamt=amt-dis
    else:
        d="0%"
        tamt=amt
    print(x,"\t",qty,"\t",amt,"\t",d,"\t\t",dis,"\t\t",tamt)


print("\nDhyanwad-- aauro aajo")

           Welcome Aditya Super Market

              Har maal 100 rupee

No of items want to purchase : 2
item no :  1
Item name : kkk
No of Quantity : 10
item no :  2
Item name : lll
No of Quantity : 15

item	qty	total	discount%	dis-amnt	netamount
kkk 	 10 	 1000 	 10% 		 100.0 		 900.0
lll 	 15 	 1500 	 15% 		 225.0 		 1275.0

Dhyanwad aane ke aauro aajo

In [34]:
l=[1,2,3]
l.append([1,2])
l.extend([7,8,9])

In [35]:
l

[1, 2, 3, [1, 2], 7, 8, 9]

In [2]:
l=[1,2,3,4,5]
for i in l:
    l.append(i)
    if i==5:
        break
l

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [48]:
l=[1,2,3]
l.append(69)
l

[1, 2, 3, 69]

In [49]:
len(l)

4

In [50]:
sum(l)

75